@import "./transitions.css";
@import "./leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth !important;
  font-family: Arial;
}

.router-link-active {
  color: red !important;
  background-color: rgb(224, 222, 222) !important;
}

/** DARK MDOE CLASSES */
.dark {
  .bg-kwhite {
    background-color: #092635;
  }
  .fill-kdark {
    fill: #fbfdfd;
  }
  .text-black {
    color: #fbfdfd !important;
  }
  .shadow-md {
    box-shadow: 0 4px 6px -1px #fbfdfd, 0 2px 4px -2px #fbfdfd;
  }
  .shadow-lg {
    box-shadow: 0 10px 15px -3px #fbfdfd, 0 4px 6px -4px #fbfdfd;
  }
  .shadow-2xl {
    box-shadow: 0 10px 15px -8px #fbfdfd;
  }

  .router-link-active {
    color: red !important;
    background-color: #213e4d !important;
  }

  .bg-gray-300{
    background-color: #092635;
  }
  .text-gray-300{
    color: #092635;
  }
}
/** DARK MDOE CLASSES */
